{%extends 'base.html'%} 

{%load static%} 

{%block css_files%} 
  <link rel='stylesheet' href="{%static "blog/post.css"%}"/> 
  <link rel='stylesheet' href="{%static "blog/index.css"%}"/> 
{%endblock%}

{%block title%}
  MY Blog
{%endblock%}

{%block content%}
<section id="welcome">
  <header>
    <img src="{%static 'blog/images/max.png'%}" alt="Ravi - The author of this blog" />
    <h2>Ravi's BLOG</h2>
  </header>
  <p>Hi, I am Ravi and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>
  <ul>
    {%for post in posts%}
      {%include 'blog/includes/post.html'%}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What do I do!</h2>
  <p>I lobve programming and love to explore new technologies.</p>
  <p>
    My goal is to be growing as a developer - and if I could help you do the
    same, I'd be very happy.
  </p>
</section>

{%endblock%}
